<h1>Care Network - Help Request Form</h1>

<form method="post">
  <h2>Personal Information</h2>
  <div class="form-row row">
    <div class="form-group col-md-3">
      <label for="input-first-name">First Name</label>
      <input type="text" class="form-control" id="input-first-name" required>
    </div>
    <div class="form-group col-md-3">
      <label for="input-last-name">Last Name</label>
      <input type="text" class="form-control" id="input-last-name" required>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-4">
      <label for="input-phone-number">Phone Number</label>
      <input type="text" class="form-control" id="input-phone-number" required>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-5">
      <label for="input-email">Email</label>
      <input type="email" class="form-control" id="input-email" required>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-3">
      <label for="input-birthdate">Birthdate</label>
      <input type="date" class="form-control" id="input-birthdate" required>
    </div>
  </div>

  <fieldset class="form-row row">
    <div class="form-group col-md-4">
      <legend class="col-form-label">Marital Status</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input type="radio" id="marital-radio-1" name="marital-radio" 
            class="form-check-input" checked>
          <label class="custom-control-label" for="marital-radio-1">Married</label>
        </div>
        <div class="form-check">
          <input type="radio" id="marital-radio-2" name="marital-radio" 
            class="form-check-input">
          <label class="custom-control-label" for="marital-radio-2">Single</label>
        </div>
        <div class="form-check">
          <input type="radio" id="marital-radio-3" name="marital-radio" 
            class="form-check-input">
          <label class="custom-control-label" for="marital-radio-3">Widowed</label>
        </div>
      </div>
    </div>
  </fieldset>

  <h2>Home Address</h2>

  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="input-address-1">Address 1</label>
      <input type="text" class="form-control" id="input-address-1" 
        placeholder="1234 Main St" required>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="input-address-2">Address 2</label>
      <input type="text" class="form-control" id="input-address-2" 
        placeholder="Apartment, studio, or floor" required>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-3">
      <label for="input-city">City</label>
      <input type="text" class="form-control" id="input-city" required>
    </div>
    <div class="form-group col-md-1">
      <label for="input-state">State</label>
      <input type="text" class="form-control" id="input-state" required>
    </div>
    <div class="form-group col-md-2">
      <label for="input-zip">Zip</label>
      <input type="text" class="form-control" id="input-zip" required>
    </div>
  </div>

  <h2>Emergency Contact Information</h2>

  <div class="form-row row">
    <div class="form-group col-md-4">
      <label for="input-emergency-name">Emergency Contact name</label>
      <input type="text" class="form-control" id="input-emergency-name">
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-4">
      <label for="input-phone-number">Emergency Contact Relationship</label>
      <input type="text" class="form-control" id="input-emergency-relationship">
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-4">
      <label for="input-phone-number">Emergency Contact Phone</label>
      <input type="text" class="form-control" id="input-emergency-phone">
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-4">
      <label for="input-phone-number">Emergency Contact Email</label>
      <input type="email" class="form-control" id="input-emergency-email">
    </div>
  </div>

  <h2>Questionaire</h2>

  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="input-symptoms">Are There Any Health Issues We Should Be Aware Of?</label>
      <input type="text" class="form-control" id="input-symptoms" required>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="input-others-text">Name / Age / Relationship of Others Living in Your Home</label>
      <textarea class="form-control" id="input-others-text" rows="5" required></textarea>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="input-help-text">Help Requested</label>
      <textarea class="form-control" id="input-help-text" rows="5" required></textarea>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-6">
      <label for="input-hear">How Did You Hear About Catalyst Care Network?</label>
      <input type="text" class="form-control" id="input-hear" required>
    </div>
  </div>

  <fieldset class="form-row row">
    <div class="form-group col-md-9">
      <div>
        <strong>
          RELEASE OF LIABILITY WAIVER - I understand and acknowledge that my involvement 
          in this endeavor with Catalyst, its agents and contractors, and any partnering organizations, 
          is voluntary. I understand and acknowledge my willingness to allow myself and my property to 
          be associated with this Catalyst activity in the manner described on the Catalyst Care Network 
          webpage. I understand and acknowledge that this Activity may pose the potential risk of damage 
          to my person and/or property. I also realize that Catalyst and its personnel, agents, or 
          volunteers, or any other person or entity associated with this Activity, may not be professionally 
          trained for this Activity, and are not legally or financially responsible or liable for any claim 
          arising from any damage done to my property during this Activity.
        </strong>
      </div>
      <div class="col-sm-10">
        <div class="form-check">
          <input type="radio" id="waiver-radio-1" name="waiver-radio" class="form-check-input">
          <label class="custom-control-label" for="waiver-radio-1">Agreed</label>
        </div>
        <div class="form-check">
          <input type="radio" id="waiver-radio-2" name="waiver-radio" class="form-check-input">
          <label class="custom-control-label" for="waiver-radio-2" checked>Decline</label>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-row row">
    <div class="form-group col-md-4">
      <label for="input-confirm-name">The information I have provided is true and accurate</label>
      <input type="text" class="form-control" id="input-confirm-name" 
        placeholder="Please type your name to verify" required>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>

</form>