<div class="col-md-10 row">
  <div id="applicant_id_div" hidden>{{application_id}}</div>

  <h2 id="notes-h2">Notes</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Note</th>
        <th scope="col">By</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <form id="note-form">
        <tr>
          <th scope="col">
            <button type="submit" class="btn btn-primary">Add Note</button>
          </th>
          <th scope="col">
            <textarea class="form-control" placeholder="Enter Note"></textarea>
          </th>
        </tr>
      </form>
    </tfoot>
  </table>


  <form id="application-form">
    <div class="form-row row">
      <div class="form-group col-md-3">
        <label for="app-status-select">Status</label>
        <select class="custom-select" name="application_status" id="app-status-select">
          <option value="to_be_contacted">To Be Contacted</option>
          <option value="assigned_caller">Assigned Caller</option>
          <option value="help_requested">Helper Requested</option>
          <option value="contact_complete">Contact Completed</option>
          <option value="never_contacted">Never Contacted</option>
          <option value="completed">Completed</option>
        </select>
      </div>
    </div>  

    {{> care_partialform}}

    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-secondary" type="button" id="form-reset-button">Reset</button>
  </form>
</div>

<div class="col-md-2 row">
  <nav class="bg-light sidebar" aria-label="Main navigation">
    <div style="height:100%; position: fixed; padding-left: 10pt">
        <ul class="nav flex-column">
            <li class="nav-item">
              Page Navigation
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#notes-h2">
                    Notes</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#personal-info-h2">
                    Personal Info</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#home-address-h2">
                    Home Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact-info-h2">
                    Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#question-h2">
                    Questionaire</a>
            </li>
            </ul>
    </div>
</nav>
</div>

<script type="text/javascript" src="/javascript/care/application_helper.js"></script>
<script type="text/javascript" src="/javascript/care/application_page.js"></script>