<h1>Care Network - Help Request Form</h1>

<form method="post" id="applicant-form">
  {{> care_partialform}}

  <fieldset class="form-row row">
    <div class="form-group col-md-9">
      <div>
        <strong>
          RELEASE OF LIABILITY WAIVER - I understand and acknowledge that my involvement 
          in this endeavor with Catalyst, its agents and contractors, and any partnering organizations, 
          is voluntary. I understand and acknowledge my willingness to allow myself and my property to 
          be associated with this Catalyst activity in the manner described on the Catalyst Care Network 
          webpage. I understand and acknowledge that this Activity may pose the potential risk of damage 
          to my person and/or property. I also realize that Catalyst and its personnel, agents, or 
          volunteers, or any other person or entity associated with this Activity, may not be professionally 
          trained for this Activity, and are not legally or financially responsible or liable for any claim 
          arising from any damage done to my property during this Activity.
        </strong>
      </div>
      <div class="col-sm-10">
        <div class="form-check">
          <input type="radio" id="waiver-radio-1" name="waiver-radio" 
          class="form-check-input" value="1" required>
          <label class="custom-control-label" for="waiver-radio-1">Agreed</label>
        </div>
        <div class="form-check">
          <input type="radio" id="waiver-radio-2" name="waiver-radio" 
            class="form-check-input" value="0">
          <label class="custom-control-label" for="waiver-radio-2">Decline</label>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-row row">
    <div class="form-group col-md-4">
      <label for="input-confirm-name">The information I have provided is true and accurate</label>
      <input type="text" class="form-control" id="input-confirm-name" 
        placeholder="Please type your name to verify" name="signature" required>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-3">
      <label for="input-dob">Signature Date</label>
      <input type="date" class="form-control" id="input-dob" 
        name="signature_date" required>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>

</form>

<script type="text/javascript" src="/javascript/care/application_helper.js"></script>
<script type="text/javascript" src="/javascript/care/application_form.js"></script>