<a href="{{add_service_url}}">Add Service</a>

{{#each services}}
<p>{{this._id}} 
  <a href="{{this.update_service_url}}">Update Service</a></p>
{{/each}}

<script type="text/javascript" src=""></script>